.jaf-popup-wizard-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: calc(50% - 8px);
  height: auto;
  border-radius: .5em;
  padding: .75em 1em;
  margin-bottom: 1em;

  h3 {
    font-size: 2em;
  }

  &.is-incognito {
    border: 1px solid $label-color;
    background-color: transparent;

    &.is-selected {
      background-color: $label-color;

      h5 {
        color: $dark-color;
      }
    }
  }

  &.is-personal {
    border: 1px solid #8ac185;
    background-color: transparent;

    &.is-selected {
      background-color: #8ac185;
    }
  }

  &.is-business {
    border: 1px solid #7768d8;
    background-color: transparent;

    &.is-selected {
      background-color: #7768d8;
    }
  }

  &.is-new {
    position: relative;
    padding: 0;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: 2px dashed $label-color;

    h3 {
      font-size: 2em;
      line-height: 1;
      font-weight: 200;
      color: $label-color;
      pointer-events: none;
      transform: translateY(-2px);
    }
  }
}