@keyframes move {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: 50px 50px;
  }
}

@keyframes a-blobs {
  0%, 60%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-60%);
  }

  40% {
    transform: translateY(60%);
  }
}

.jaf-extension-button {
  position: absolute;
  z-index: 9999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: translateY(-50%) translateX(-100%);
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border-color .32s linear;
  box-sizing: border-box;
}

.jaf-extension-button img {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: auto;
  pointer-events: none;
  transform-origin: center;
  transition: all .32s linear;
}

.jaf-extension-button:hover {
  border-color: orange;
}

.jaf-extension-button:hover img {
  transform: scale(1.32);
}

.jaf-extension-button-loader {
  position: relative;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transform-origin: center;
}

.jaf-extension-button-loader__blob {
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border-radius: 50% 50%;
  transform-origin: 50% 50%;
  animation-name: a-blobs;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.jaf-extension-button-loader__blob:first-child {
  background-color: #00CF79;
}

.jaf-extension-button-loader__blob:nth-child(2) {
  background-color: #000;
  animation-delay: 0.2s;
}

.jaf-extension-button-loader__blob:last-of-type {
  background-color: orange;
  animation-delay: 0.4s;
}

.jaf-extension-button.has-loading img {
  display: none;
}

.jaf-extension-button.has-loading img {
  display: none;
}

.jaf-extension-button.has-loading .jaf-extension-button-loader {
  display: flex;
}

.jaf-extension-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 99999999;
  transform: translateX(calc(-100% - 8px)) translateY(-50%);
  background-color: #fff;
}

.jaf-extension-loading .jaf-extension-button-loader {
  display: flex;
}

.jaf-question-collect {
  position: fixed;
  z-index: 99999999999;
  bottom: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  transform: translateX(-50%);
  padding: 2rem;
  width: 480px;
  height: auto;
  background-color: #fff;
  border-radius: 0 0 4px 4px;
  border: 1px solid lightgray;
}

.jaf-question-collect p {
  color: #333;
  opacity: .8;
  font-size: 14px;
  line-height: 1.8;
  margin: 0 0 1rem 0;
}

.jaf-question-collect button {
  padding: 1em;
  height: 48px;
  outline: none;
  border-radius: 4px;
  background-color: #ff7513;
  color: #fff;
  cursor: pointer;
  border: 0;
}

.jaf-question-collect button:first-of-type {
  color: #333;
  border: 1px solid lightgray;
  background-color: transparent;
  margin-right: 8px;
}

.jaf-extension-progress {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 50%;
  width: 100%;
  height: auto;
  padding: 1rem 2rem;
  transform: translateX(-50%);
  border: 1px solid lightgray;
  background-color: #fff;
  border-radius: 0 0 8px 8px;
  box-shadow: 0px 0px 37px -4px rgba(179,179,179,1);
}

.jaf-extension-progress-message {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.jaf-extension-progress-message img {
  display: block;
  width: 4rem;
  height: auto;
  margin-right: 1rem;
}

.jaf-extension-progress-message h4 {
  font-weight: 400;
  width: auto;
}

.jaf-extension-progress-message h4 #jaf-filling-label {
  position: relative;
  border-radius: 6px;
  background-color: #333;
  color: #fff;
  padding: .5rem 1rem;
}

.jaf-extension-progress-message h4 #jaf-filling-label::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateX(2px) translateY(-50%);
  border-radius: 2px;
  right: 100%;
  width: 0px;
  height: 0px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #333;
}

.jaf-extension-progress-bar-wrapper {
  margin: 0 0 0 2rem;
  overflow: hidden;
  position: relative;
  flex: 1;
  height: 16px;
  background-color: #e4e4e4;
  border-radius: 10px;
}

.jaf-extension-progress-bar {
  position: relative;
  overflow: hidden;
  display: block;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to left, #A5BFFF 10%, #2E69FF 100%);
}

.jaf-extension-progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
  background-image: -webkit-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
  background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
  z-index: 1;
  background-size: 50px 50px;
  animation: move 2s linear infinite;
  border-radius: 10px;
  overflow: hidden;
}

.jaf-extension-transition {
  transition: all .32s linear;
}

.jaf-extension-focus {
  transition: all linear .32s;
  box-shadow: 0px 0px 12px 0px rgba(219,147,4,1) !important;
  border-color: rgba(219,147,4,1) !important;
}

#jaf-stop-filling {
  display: block;
  border-radius: 4px;
  color: #fff;
  background-color: red;
  padding: .75rem 1.25rem;
  margin-left: 2rem;
  border: 0;
  outline: none;
  color: #ede4e4;
  font-size: 16px;
  cursor: pointer;
}