
@keyframes a-blobs {
  0%, 60%, 100% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(-60%);
  }

  40% {
    transform: translateY(60%);
  }
}

.jaf-extension-button {
  position: absolute;
  z-index: 9999;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  transform: translateX(-100%) translateY(-50%);
  border-radius: 50%;
  border: 1px solid #c1c1c1;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  transition: border-color .32s linear;
}

.jaf-extension-button img {
  position: relative;
  z-index: 1;
  display: block;
  width: 24px;
  height: auto;
  pointer-events: none;
  transform-origin: center;
  transition: all .32s linear;
}

.jaf-extension-button:hover {
  border-color: orange;
}

.jaf-extension-button:hover img {
  transform: scale(1.32);
}

.jaf-extension-button-loader {
  position: relative;
  z-index: 2;
  display: none;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  transform-origin: center;
}

.jaf-extension-button-loader:before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  background-color: #FFF;
  transform: translate(-50%, -50%);
}

.jaf-extension-button-loader__blob {
  display: block;
  width: 6px;
  height: 6px;
  margin: 2px;
  border-radius: 50% 50%;
  transform-origin: 50% 50%;
  animation-name: a-blobs;
  animation-duration: 1.6s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.jaf-extension-button-loader__blob:first-child {
  background-color: #00CF79;
}

.jaf-extension-button-loader__blob:nth-child(2) {
  background-color: #000;
  animation-delay: 0.2s;
}

.jaf-extension-button-loader__blob:last-of-type {
  background-color: orange;
  animation-delay: 0.4s;
}

.jaf-extension-button.has-loading img {
  display: none;
}

.jaf-extension-button.has-loading img {
  display: none;
}

.jaf-extension-button.has-loading .jaf-extension-button-loader {
  display: flex;
}