* {
  color: $light-color;
}

body {
  width: 432px;
  height: auto;
  font-size: 16px;
  color: $light-color;

  &::-webkit-scrollbar {
    display: none;
  }
}

.jaf-popup {
  position: relative;
  height: 100%;
  background-color: $dark-color;
}